*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(202, 202, 202);
}
a{
  text-decoration: none;
}
button{
  border: 0;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
.navbar{
  height: 90px;
  background-color: #1a1a1a;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo i{
color: #0aa5ff;
font-size: 22px;
}
.navbar .logo a{
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin-left: 12px;
}
.menu{
  display: flex;
  align-items: center;
  gap: 32px;
}
.menu-links{
  display: flex;
  gap: 24px;
  border-right: 1px solid #999999;
  padding-inline: 24px;
}
.menu-links a{
  font-weight: 500;
  color: #999999;
  padding: 8px 16px;
}
.menu-links a:hover{
  color: white;
}
.log-in{
  font-weight: 500;
  padding: 12px 22px;
  background-color: transparent;
  color: #999999;
  border-radius: 10px;
  border: 2px solid #0aa5ff;
  transition: 0.2s;
}
.log-in:hover{
  background-color: #0aa5ff;
  color: white;
}
.menu-btn {
  font-size: 32px;
  color: white;
  display: none;
  cursor: pointer;
}
@media(max-width: 53rem){
  .menu{
    display: none;
  }
  .menu-btn{
    display: block;
  }
}
.landing-page-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-page-container{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.info-container h1{
  margin-bottom: 50px;
  font-size: 50px;
  color: #4e4c4c;
  transition: all 0.3s ease;
}
.info-container h1:hover{
  /* box-shadow: 0 5px 10px rgba(243, 233, 233, 0.75);
  transform: scale(1.03); */
  font-style: italic;
  cursor: pointer;
}
.info-container p{
  margin-bottom: 40px;
  font-size: 30px;
  line-height: 1.5;
}
button{
  padding: 20px;
  font-size: 20px;
  background-color: #4e4c4c;
}

.bg-img img{
  width: 500px;
  border-radius: 218px 63px;
}
